---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import { Image } from 'astro:assets';
---

<Layout>
	<header class="flex w-full justify-between items-end p-1 5g-slate-800 text-slate-200 border-b border-b-slate-400 fixed top-0 bg-slate-950">
		<div>
			<ul class="flex">
				<li>GitHub</li>
				<li>LinkedIn</li>
				<li>E-Mail</li>
			</ul>
		</div>
		<nav>
			<ul class="flex">
				<li class="text-center border border-transparent hover:text-slate-400"><a href="#About">About</a></li>
				<li class="text-center"><a href="#Skills">Skills</a></li>
				<li class="text-center"><a href="#Projects">Projects</a></li>
			</ul>
		</nav>
	</header>

	<main class="flex-grow text-slate-400">

		<section class="flex justify-center items-center bg-slate-900 h-screen" id="About">
			<div class="flex justify-around items-center w-1/2">
				<Image src="/kely-avatar.png" alt="Kely picture" width={300} height={300} class="rounded-full"/>
				<div>
					<p class="text-4xl font-bold">Hi, I am Kely!</p>
					<p>A Webdeveloper from Switzerland</p>
				</div>
			</div>
			


		</section>

		<section class="flex justify-center items-center flex-col bg-slate-800 h-screen" id="Skills">

			<p class="text-3xl font-bold m-20">Technologies I have used</p>

			<div class="flex flex-wrap w-full justify-around">

				<div class="border rounded-md w-1/5 p-2 m-2 bg-slate-900">
					<p class="text-xl font-bold pb-2">Confident In Using</p>
					<div class="flex justify-evenly items-center  w-full flex-wrap">
						<Image src="/icons/HTML5.svg" alt="HTML5 Logo" width={80} height={80}/>
						<Image src="/icons/CSS3.svg" alt="CSS3 Logo" width={80} height={80} />
						<Image src="/icons/JavaScript.svg" alt="JavaScript Logo" width={80} height={80} />
						<Image src="/icons/React.svg" alt="React Logo" width={80} height={80} />
						<Image src="/icons/MySQL.svg" alt="MySQL Logo" width={80} height={80} />
					</div>
				</div>

				<div class="border rounded-md w-1/5 p-2 m-2 bg-slate-900">
					<p class="text-xl font-bold pb-2">Basic Understanding</p>
					<div class="flex justify-around w-full flex-wrap">
						<Image src="/icons/Python.svg" alt="Python Logo" width={80} height={80}/>
						<Image src="/icons/Django.svg" alt="Django Logo" width={80} height={80} />
						<Image src="/icons/Django REST.svg" alt="Django REST Logo" width={80} height={80} />
						<Image src="/icons/Bootstrap.svg" alt="Bootstrap Logo" width={80} height={80} />
						<Image src="/icons/WordPress.svg" alt="Wordpress Logo" width={80} height={80} />
						<Image src="/icons/GitHub.svg" alt="GitHub Logo" width={80} height={80} />
						<Image src="/icons/Vercel.svg" alt="Vercel Logo" width={80} height={80} />
					</div>
				</div>

				<div class="border rounded-md w-1/5 p-2 m-2 bg-slate-900">
					<p class="text-xl font-bold pb-2">Experimenting & Learning</p>
					<div class="flex justify-around w-full flex-wrap">
						<Image src="/icons/Astro.svg" alt="Astro Logo" width={80} height={80}/>
						<Image src="/icons/Next.js.svg" alt="Next.js Logo" width={80} height={80} />
						<Image src="/icons/TypeScript.svg" alt="TypeScript Logo" width={80} height={80} />
						<Image src="/icons/Tailwind CSS.svg" alt="Tailwind CSS Logo" width={80} height={80} />
					</div>
				</div>

				<div class="border rounded-md w-1/5 p-2 m-2 bg-slate-900">
					<p class="text-xl font-bold pb-2">Haven't Used In A Long Time</p>
					<div class="flex justify-around w-full flex-wrap">
						<Image src="/icons/PHP.svg" alt="PHP Logo" width={80} height={80}/>
						<Image src="/icons/jQuery.svg" alt="jQuery Logo" width={80} height={80} />
						<Image src="/icons/TYPO3.svg" alt="TYPO3 Logo" width={80} height={80} />
					</div>
				</div>

			</div>
		</section>

		<section class="flex flex-col justify-center items-center bg-slate-700 h-screen" id="Projects">
			<p>Projects</p>
			<Project 
				title="Metroidvania.GG"
				image="metroidvaniagg.png" 
				description="Metroidvanias are a subgerne of Videogames. 95% of Metroidvanias are made by either one person or a very small team. The purpose of this Website is to cataloge and display these games. Giving developers another way to advertise their game and giving fans a website to find more games in this gerne."
				stack={["React","Django","MySQL","Vercel"]}
				github="https://github.com/Xoneris/Metroidvania.GG-Frontend" 
				demo="https://metroidvaniagg.vercel.app"
			/>
			<Project 
				title="Helldivers 2 Randomizer"
				image="helldivers2-randomizer.png"
				description="adf"
				stack={["React"]}
				github="https://github.com/Xoneris/Helldivers2-randomizer"
				demo="https://xoneris.github.io/Helldivers2-randomizer/"
			/>
			<!-- <div class="flex justify-between w-2/3">
				<div>
					<Image src="/projects/metroidvaniagg.png" alt="Metroidvania.GG" width={720} height={540} class="rounded-xl">
				</div>
				<div class="flex flex-grow flex-col justify-between p-2">
					<p>Title</p>
					<p>Description</p>
					<p>Links</p>
				</div>
			</div> -->
		</section>
	</main>

	<footer class="text-center p-1 5g-slate-950 text-slate-300 border-t border-t-slate-400 bg-slate-950">
		Footer
	</footer>
</Layout>

<style>

	
	li {
		display: block;
		width: 105px;
	}

	/* img {
		border-radius: 50%;
	} */
</style>
