---
import Layout from '../layouts/Layout.astro';
import Skills from '../components/Skills.astro';
import About from '../components/About.astro'
import Projects from '../components/Projects.astro';

const email = "mailto:hello@kely.dev"
---

<Layout>
	<!-- <header class="flex w-full h-14 justify-center sm:justify-between items-center p-1 5g-slate-800 text-slate-200 border-b border-b-slate-400 fixed top-0 bg-slate-950 z-10 pr-16 pl-16 rounded-br-3xl rounded-bl-3xl title-font">
		<div class="hidden sm:block">
			<p class="text-4xl font-bold">KELY.DEV</p>
		</div>
		<nav>
			<ul class="flex">
				<li class="text-center text-2xl sm:text-3xl w-28"><a href="#About">About</a></li>
				<li class="text-center text-2xl sm:text-3xl w-28" ><a href="#Skills">Skills</a></li>
				<li class="text-center text-2xl sm:text-3xl w-28"><a href="#Projects">Projects</a></li>
			</ul>
		</nav>
	</header> -->

	<!-- <main class="flex-grow text-slate-400 overflow-hidden bg-slate-800"> -->
		<About/>
		<Skills/>
		<Projects/>
	<!-- </main> -->

	<!-- <footer class="text-center p-2 5g-slate-950 text-slate-300 border-t border-t-slate-400 bg-slate-950">
		<p>kely.dev</p>
	</footer> -->
</Layout>