---

---

<div class="relative min-h-screen grow flex justify-center items-center" id="BlockContainer">   
    <slot/>
</div>

<style>

    @keyframes rotating {
        0% {
            transform: rotate(0);
            
        }
        100% {
            transform: rotate(360deg);
            bottom: 1000px;
            opacity: 0;
        }
    }

</style>

<script>

function test() {
    const BlockContainer = document.getElementById("BlockContainer")
    const newBlock = document.createElement("div");

    const windowWidth = window.innerWidth

    const randomSize = Math.round(Math.random() * (150 - 50) + 50)
    const randomStart = Math.round(Math.random() * (windowWidth - 0) + 0)
    const randomOpacity = Math.round(Math.random() * (75 - 25) + 25)
    const randomDelay = Math.round(Math.random() * (5 - 0) + 0)
    const randomDuration = Math.round(Math.random() * (15 - 5) + 5)
    const randomBorderRadius = Math.round(Math.random() * (15 - 5) + 5)

    newBlock.style.position = "absolute"
    newBlock.style.bottom = "-40px"
    newBlock.style.width = randomSize+"px"
    newBlock.style.height = randomSize+"px"
    newBlock.style.left = randomStart+"px"
    newBlock.style.opacity = randomOpacity+"%"
    newBlock.style.animationName = "rotating"
    newBlock.style.animationTimingFunction = "linear"
    newBlock.style.animationFillMode = "forwards"
    newBlock.style.animationDelay = randomDelay+"s"
    newBlock.style.animationDuration = randomDuration+"s"
    newBlock.style.borderRadius = randomBorderRadius+"px"
    newBlock.style.border = "1px solid white"
    newBlock.style.boxShadow = "0 0 15px white"
    newBlock.style.backgroundColor = "#64748b"

    BlockContainer?.appendChild(newBlock)

    // newBlock.addEventListener("animationstart", () => {
    //     newBlock.addEventListener("click", () => {
    //         newBlock.style.borderRadius = "9999px"
    //     })
    // })

    newBlock.addEventListener("animationend", () => {
        newBlock.remove()
    })
}



    setInterval(() => test(), 500)


</script>