---
import Project from '../components/Project.astro';
---

<section class="flex flex-col justify-around items-center pb-4 pt-12 bg-slate-800 min-h-screen" id="Projects">
    <p class="text-6xl font-bold mb-3 mt-3 title-font underline">Projects</p>
    <div class="flex flex-wrap w-4/5 xl:w-2/3 justify-center">
        <Project 
        title="Metroidvania.GG Frontend"
        image="metroidvaniagg-frontend.png" 
        description="The frontend of Metroidvania.GG. A information hub website for everything related to 'Metroidvania' videogames."
        stack={["React","Vercel"]}
        github="https://github.com/Xoneris/Metroidvania.GG-Frontend" 
        demo="https://metroidvania.gg"
        />
        <Project 
        title="Metroidvania.GG Backend (Django)"
        image="metroidvaniagg-backend-django.png" 
        description="The backend of Metroidvania.GG. Provides multiple api endpoints for the frontend to fetch data."
        stack={["Django","MySQL"]}
        github="https://github.com/Xoneris/Metroidvania.GG-Backend-Django" 
        demo="none"
        />
        <Project 
        title="Metroidvania.GG Backend (Laravel)"
        image="metroidvaniagg-backend-laravel.png" 
        description="The backend of Metroidvania.GG. Provides multiple api endpoints for the frontend to fetch data. Currently WIP because I plan to migrate to this from my Django backend."
        stack={["Laravel","MySQL"]}
        github="https://github.com/Xoneris/Metroidvania.GG-Backend-Laravel" 
        demo="none"
        />
        <Project
        title="Space Tourism"
        image="space-tourism.png"
        description="A website I made as part of a frontend challenge. I was provided a figma file and the goal was to reproduce it's contents."
        stack={["Vue.js","Sass", "Vercel"]}
        github="https://github.com/Xoneris/frontend-mentor-space_tourism"
        demo="https://fmspace-tourism-xoneris-projects.vercel.app"
        />
        <Project 
            title="Helldivers 2 Randomizer"
            image="helldivers2-randomizer.png"
            description="A app that will give you a random loadout for the videogame Helldivers 2!"
            stack={["React"]}
            github="https://github.com/Xoneris/Helldivers2-randomizer"
            demo="https://xoneris.github.io/Helldivers2-randomizer/"
        />
        <Project 
            title="My Portfolio"
            image="portfolio.png"
            description="I thought creating my portfolio would be great oppurtunity to explore and learn some new technologies I haven't used before."
            stack={["Astro","Tailwind CSS", "Vercel"]}
            github="https://github.com/Xoneris/portfolio-astro"
            demo="https://kely.dev"
        />
    </div>
</section>

