---
import SkillsSubsection from './SkillsSubsection.astro';
---

<section class="flex justify-center items-center flex-col bg-slate-700 min-h-screen border-t-2 border-b-2 border-white" id="Skills">
    <p class="text-6xl font-bold m-6 title-font underline">Skills</p>
    <div class="flex flex-col gap-0 w-full justify-around items-center">

        <SkillsSubsection
            title="Programing Languages"
            stack={["HTML5", "CSS3", "JavaScript", "TypeScript", "PHP", "Python"]}
        />
        
        <SkillsSubsection
            title="Frontend"
            stack={["React", "Next.js","Vue.js", "Svelte", "Astro", "jQuery", "Tailwind CSS", "Sass", "Bootstrap"]}
        />
        <SkillsSubsection
            title="Backend"
            stack={["Django", "Laravel", "Drizzle ORM", "MySQL", "PostgreSQL", "Vercel"]}
        />
        <SkillsSubsection
            title="Content Management Systems"
            stack={["WordPress", "TYPO3"]}
        />
        <SkillsSubsection
            title="Development Tools"
            stack={["Git", "GitHub", "VSCode", "Figma"]}
        />
    </div>
</section>