---
import { Image } from 'astro:assets';
import SkillsSubsection from './SkillsSubsection.astro';
---

<section class="flex justify-center items-center flex-col bg-slate-700 min-h-screen" id="Skills">
    <p class="text-6xl font-bold m-20 title-font underline">Skills</p>
    <div class="flex flex-wrap flex-col w-full justify-around items-center">

        <SkillsSubsection 
            title="Confident In Using"
            stack={["HTML5","CSS3","JavaScript","React","MySQL"]}
        />

        <SkillsSubsection
            title="Basic Understanding"
            stack={["Python","Django","Bootstrap","WordPress","GitHub","Vercel"]}
        />

        <SkillsSubsection
            title="Experimenting & Learning"
            stack={["Astro","Next.js","TypeScript","Tailwind CSS"]}
        />

        <SkillsSubsection
            title="Haven't Used In A Long Time"
            stack={["PHP","jQuery","TYPO3"]}
        />

    </div>
</section>