---
import SkillsSubsection from './SkillsSubsection.astro';
import technologies from "../tech.json"
---

<section class="flex justify-center items-center flex-col bg-slate-700 min-h-screen border-t-2 border-b-2 border-white" id="Skills">
    <p class="text-6xl font-bold m-6 title-font underline">Skills</p>
    <div class="flex flex-col gap-0 w-full justify-around items-center">

        <SkillsSubsection
            title="Programming Languages"
            skills={["HTML5", "CSS3", "JavaScript", "TypeScript", "PHP", "Python"]}
        />
        <SkillsSubsection
            title="Frontend"
            skills={["React", "Next.js","Vue.js", "Angular", "Astro", "Tailwind CSS", "Sass", "Bootstrap"]}
        />
        <SkillsSubsection
            title="Backend"
            skills={["Django", "Laravel", "Drizzle ORM", "MySQL", "PostgreSQL", "Vercel"]}
        />
        <SkillsSubsection
            title="Content Management Systems"
            skills={["WordPress", "TYPO3"]}
        />
        <SkillsSubsection
            title="Development Tools"
            skills={["Git", "GitHub", "VSCode", "Figma"]}
        />
    </div>
</section>
