---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>Kely's Portfolio</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
	</head>
	<body class="flex flex-col min-h-screen">
		<header class="flex w-full h-14 justify-center sm:justify-between items-center p-1 5g-slate-800 text-slate-200 border-b border-b-slate-400 fixed top-0 bg-slate-950 z-10 pr-16 pl-16 rounded-br-3xl rounded-bl-3xl title-font">
			<div class="hidden sm:block">
				<p class="text-4xl font-bold">KELY.DEV</p>
			</div>
			<nav>
				<ul class="flex">
					<li class="text-center text-2xl sm:text-3xl w-28"><a href="/#About">About</a></li>
					<li class="text-center text-2xl sm:text-3xl w-28" ><a href="/#Skills">Skills</a></li>
					<li class="text-center text-2xl sm:text-3xl w-28"><a href="/#Projects">Projects</a></li>
				</ul>
			</nav>
		</header>
		<main class="flex-grow text-slate-400 overflow-hidden bg-slate-800">
			<slot />
		</main>
		<footer class="text-center p-2 5g-slate-950 text-slate-300 border-t border-t-slate-400 bg-slate-950">
			<p>kely.dev</p>
		</footer>
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
		font-family: "Nunito", sans-serif;
		/* font-family: "Indie Flower", cursive; */
		font-weight: 400;
	}

	::selection {
		background-color: orange;
		color: black;
	}

	.title-font {
		font-family: "Indie Flower", cursive;
	}

	section {
		transform:skewY(-2.5deg);
	}

	section>* {
		transform: skewY(2.5deg);
	}



	nav a {
		color: white;
		text-decoration: none;
		transition: all;
		transition-duration: 0.5s;
	}

	nav a:hover {
		color: orange;
		text-decoration: underline;
		
	}


</style>
